.list-container{
    display: flex;
    flex-direction: column;
    margin: 10px 90px;
    padding: 20px 30px;
    border: 2px solid rgb(17, 3, 47);
    border-radius: 20px;

}

.list-header{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}